<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="1.0.0" package="com.grosvenor.gasiabcp.droid" android:installLocation="auto" android:versionCode="23">
	<uses-sdk android:minSdkVersion="22" android:targetSdkVersion="22" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:theme="@style/AppTheme" android:label="GAsia BCP">
		<meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyB83kQbiV6ZPKbefBwU91W2VzjRvGygGAA" />
		<!-- Below is for MobileIron -->
		<!--		<meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyBrwVa5c4sNk7XamGPVnb7-m_sa2ErPgFc" />
		<meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyBzWip6fvJhqzLWUqLYk3Xh4A2cenwzxUQ" />-->
	</application>
</manifest>